@mixin middle{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin vertical{
  display: flex;
  align-items: center;
}

@mixin between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// ===== ===== ===== ===== ===== ===== ===== ===== 顶部滚动条 ===== ===== ===== ===== ===== ===== =====

@mixin hover-top-bar{
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  left: 0;
  background: #000;
}

.hover-top-bar-focus {
  background: #f6f6f6;
  &::before {
    @include hover-top-bar;
  }
}

.hover-top-bar-unfocus {
  &::before{
    transform: scaleX(0);
    @include hover-top-bar;
    transform-origin: 100% 0;
    transition: transform .3s;
  }
  &:hover{
    background: #f6f6f6;
    &::before{
      transform: scaleX(1);
      transform-origin: 0 0;
    }
  }
}
