@mixin middle{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin vertical{
  display: flex;
  align-items: center;
}

@mixin between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// ===== ===== ===== ===== ===== ===== 文档 ===== ===== ===== ===== ===== =====

.base-layout-all {
  padding: 24px;
}

.base-layout-btn {
  padding: 24px 24px 0 24px;
}
